tls:
  certificates:
    # first certificate
    - certFile: /certs/example-com.cert
      keyFile: /certs/example-com.key

    # second certificate
    - certFile: /certs/other.cert
      keyFile: /certs/other.key

  stores:
    default:
      defaultCertificate:
        certFile: path/to/cert.crt
        keyFile: path/to/cert.key

  options:
    default:
      minVersion: VersionTLS12

